
html {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    padding: 10px;
    color: rgb(255, 250, 237);
    background-color: rgb(255, 142, 0);
    box-shadow: 0 5px 10px rgb(210, 210, 210);
}

#logo {
    width: 7%;
    margin-left: 3rem;
}

#nav-bar {
    font-size: 1rem;
    display: flex;
    gap: 1rem;
    margin-left: auto;
    margin-right: 3rem;
}

a {
    color: inherit;
    text-decoration: underline;
}

a:hover {
    color: rgb(64, 64, 64);
    cursor: pointer;
  }

#our-mission-nav {
    height: 100px;
}

#our-mission {
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
    box-shadow: 5px 5px 10px rgb(170, 170, 170);
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('images/bowl.png');
    background-size: cover;
    font-size: 24px;
    color:rgb(255, 250, 237);
}

#our-mission-content > h2{
    margin-top: 50px;
}

#our-mission-content {
    width: 80%;
}

#our-mission-text {
    margin-top: 50px;
    font-size: 0.75em;
}

#our-mission-footer {
    margin: 50px 0;
}

#who-we-are-nav {
    height: 75px;
}

#who-we-are {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px;
    font-size: 24px;
    color: rgb(64, 64, 64);
    background-color:rgb(255, 250, 237);
    box-shadow: 5px 5px 10px rgb(170, 170, 170);
}

#pyramid {
    width: 50%;
}

#who-we-are-content {
    width: 80%;
    padding: 20px;
}

#who-we-are-text {
    margin-top: 50px;
    font-size: 0.75em;
}

#get-involved-nav {
    height: 75px;
}

#get-involved {
    justify-content: space-evenly;
    align-items: center;
    margin: 20px;
    font-size: 24px;
    text-align: center;
    color: rgb(64, 64, 64);
}

#get-involved-content {
    font-size: 1em;
}

button {
    color:rgb(255, 250, 237);
    background-color: rgb(255, 142, 0);
    height: 50px;
    width: 10%;
    font-size: 1rem;
    border: 0;
}

.fade-in-text {
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
}